.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.list_container {
  display: flex;
  font-size: 18px;
  background-color: #eee;
  flex-direction: row;
}
.item_container {
  background-color: #fff;
  border: 1px solid black;
  padding: 25px 50px;
  margin: 15px 20px;
}
